nb-card {
  min-height: calc(100vh - 210px);
  margin-left: 10px;
  margin-right: 10px;

  @media (min-width: 740px) {
    height: calc(100vh - 210px);
  }
}

nb-route-tabset {
  .route-tabset {
    margin-bottom: 10px;
  }
}

nb-route-tabset .route-tabset {
  margin-bottom: 10px;
}
