<div class="container card"
    [attr.card-id]="card._id"
    [attr.card-order]="card.order"
    >
    <div class="row">
      <div class="col-9">
        <p lang="en">{{ card.title }}</p>
      </div>
      <div class="col-3">
        <!-- <div class="row"> -->
            <div class="row">
                <ngx-edit-card [card]="card" [columns]="columns" [users]="users"></ngx-edit-card>
            </div>
            <div class="row">
                <i class="nb-trash" (click)="deleteCard()"></i>
            </div>
        <!-- </div> -->
      </div>

    </div>
  </div>
